<% provide(:title, "Services") %>
  <div class="container">
    <div class="row">
      <div class="span2 offset2 side">
        <%=link_to image_tag("SCSL.png", :class => "logo"), root_path %>
        <div class="content">
          <ul class="sidemenu">
            <li class="active"><a href="#MA" data-toggle="tab">M&A ADVICE</a></li>
            <li><a href="#SA" data-toggle="tab">STRATEGIC ADVICE</a></li>
            <li><a href="#BI" data-toggle="tab">BUSINESS INNOVATION</a></li>
          </ul>
        </div>
      </div><!--span2-->
      <div class="span6 mid">
        <div class="content">
          <h1>Services</h1>
          <div class="tab-content">
            <div class="tab-pane active" id="MA">
            <ul>
              <li>M&A strategy and transaction analysis</li>
              <li>Market search, strategy & target identification</li>
              <li>Preparation & transaction management</li>
              <li>Due diligence & negotiations</li>
              <li>Post-transaction advisory</li>
            </ul>
            </div><!--Geneva-->
            <div class="tab-pane" id="SA">
            <ul>
              <li>Market development strategy & implementation</li>
              <li>Processes analysis and strategy</li>
              <li>Export financing advisory</li>
              <li>Businesses analysis & re-structuring</li>
            </ul>
            </div><!--Geneva-->
            <div class="tab-pane" id="BI">
            <ul>
              <li>Business intelligence</li>
              <li>Company creation, structuring and administration</li>
              <li>Real estate: search & development</li>
            </ul>
            </div><!--Geneva-->
          </div><!--Tabs-->
        </div>
      </div><!--span6/mid-->
    </div>
  </div>
  