<% provide(:title, "Services") %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2 style="text-align:right">SERVICES</h2>
      </div>
      <div class="span9">
        <div class="sidebar">
          <h2>Business Development</h2>
          </br>
          <ul class="lead">
            <li>Strategic planning & advisory</li>
            <li>Mergers & acquisitions</li>
            <li>Financial structuring</li>
            <li>Market acquisition & development support</li>
          </ul>
        </div>
        <div class="sidebar">
          <h2>Business support</h2>
          </br>
          <ul class="lead">
            <li>Financial planning & organization</li>
            <li>Process and organization optimization</li>
          </ul>
        </div>
        <div class="sidebar">
          <h2>Business intelligence and innovation</h2>
          </br>
          <ul class="lead">
            <li>Market studies and development, benchmarking</li>
            <li>Events</li>
            <li>New technologies development advisory</li>
          </ul>
        </div>
        <div class="sidebar">
          <h2>Legal Services and Advices</h2>
          </br>
          <ul class="lead">
            <li>Contractual matters</li>
            <li>Company creation, structure and administration</li>
            <li>Intellectual property</li>
            <li>Litigation and arbitration</li>
          </ul>
        </div>
        <div class="sidebar">
          <h2>Tax services and optimization</h2>
          </br>
          <ul class="lead">
            <li>Holding and offshore matters</li>
          </ul>
        </div>
      </div>
    </div>
  </div>