<% provide(:title, "Team") %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2 style="text-align:right">TEAM</h2>
      </div>
      <div class="span9">
        <div class="sidebar">
          <h2>Tolis Cléopas</h2>
          </br>
          <p class="lead">Tolis Cléopas has founded SCS S.A. in 2007. Before founding SCS, and following a 10 years career in Corporate banking at United Overseas Bank (now BNP Paribas), he moved to the private sector where he occupied senior management positions in Treasury and as Finance Director in Swiss and US multinational groups. Among them where Amoco Chemicals (oil and derivatives), Elizabeth Arden/Unilever, (perfumes & cosmetics), Landis & Gyr Communications (telecommunications) or AGICOA (intellectual property rights). His responsibilities included, treasury management, export and trade finance as well as several specific international development projects. Co-founder of Gereje Corporate Finance an Euro-Asian corporate finance boutique with offices in Geneva and Singapore, from which the Geneva and Milan offices spun-off in 2011.</p>
        </div>
        <div class="sidebar">
          <h2>Massimiliano Morpurgo</h2>
          </br>
          <p class="lead">Massimiliano Morpurgo has started his career with Nestlé as the Global Brand Coordinator, then became the General Manager and European President of leading companies in the fragrances and cosmetics such as Firmenich and Symrise (formerly Dragoco). He organised the joint-venture between MaxMara Fashion Group and Wella AG (P&G) and advised several prestigious firms such as L Capital private equity, MaxMara Fashion Group, Acqua di Parma, MBFG, Mane Fils, Mirato, Guaber, Korres, Financo, and others. In 2009 He joined Gereje Corporate Finance as partner until 2010. Massimiliano holds a Ph.D. in finance from Universita Cattolica.</p>
        </div>
      </div>
    </div>
  </div>