<% provide(:title, "Team") %>
  <div class="container">
    <div class="row">
      <div class="span2 offset2 side">
        <%=link_to image_tag("SCSL.png", :class => "logo"), root_path %>
        <div class="content">
          <ul class="sidemenu">
            <li class="active"><a href="#TC" data-toggle="tab">TOLIS CLEOPAS</a></li>
            <li><a href="#MM" data-toggle="tab">MASSIMILIANO MORPURGO</a></li>
          </ul>
        </div>
      </div><!--span2-->
      <div class="span6 mid">
        <div class="content">
          <h1>Team</h1>
          <div class="tab-content">
            <div class="tab-pane active" id="TC">
              <p><strong>Tolis Cléopas – founder and CEO</strong></p>
              <p>With over 20 years of experience working in the banking, financial and industrial sectors, Tolis Cléopas founded the company in 2007. Following a career in corporate banking he has occupied senior management positions in Treasury and as Finance Director in Swiss and US multinational groups such as Amoco Chemicals, Elizabeth Arden/Unilever or Landis & Gyr Communications. During this time he supported a significant number of transactions at international level encompassing treasury management, export and trade finance or specific international development projects. </p>
              <p>Former co-founder of a Euro-Asian corporate finance boutique named Gereje Corporate Finance with offices in Geneva and Singapore, from which Geneva and Milano offices did spin-off in 2011.</p>
              <p>Since 2012 the Geneva office has been rebranded SCS ADVISORY to focus on Pan-European transactions.</p>
            </div><!--Geneva-->
            <div class= "tab-pane" id="MM">
              <p><strong>Massimiliano Morpurgo – co-founder </strong></p>
              <p>Massimiliano Morpurgo has started his career with Nestlé as the Global Brand Coordinator, then became the General Manager and European President of leading companies in the fragrances and cosmetics such as Firmenich and Symrise (formerly Dragoco). He organised the joint-venture between MaxMara Fashion Group and Wella AG (P&G) and advised several prestigious firms such as L Capital private equity, MaxMara Fashion Group, Acqua di Parma, MBFG, Mane Fils, Mirato, Guaber, Korres, Financo, and others.</p>
              <p>A former Partner at Gereje Corporate Finance, Massimiliano is now Partner at SCS Advisory, based in Italy.</p>
              <p>Massimiliano holds a Ph.D. in finance from Universita Cattolica, Milan.</p>
            </div><!--Milano-->
          </div><!--Tabs-->
        </div>
      </div><!--span6/mid-->
    </div>
  </div>
