<% provide(:title, "About Us") %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2 style="text-align:right">ABOUT US</h2>
      </div>
      <div class="span9">
        <div class="sidebar">
          <h2>Swiss Corporate Services</h2>
          </br>
          <p class="lead">Swiss Corporate Services is a Geneva based company with offices in Geneva and Milano. Since 2007 we provide Financial and Strategic Development Advisory to Swiss, Italian and Foreign companies.</p>
          <p class="lead">Implemented in Geneva and Milan, Swiss Corporate Services offers a unique knowledge for Italian companies of the Swiss market:</p>
          <ul class="lead">
            <li>Analysis of acquisition opportunities in Switzerland</li>
            <li>Developing your company's throughout the Swiss market</li>
            <li>Creating international sales center from Switzerland (competitive tax and management advantages</li>
            <li>Benefit from the unique Expertise of our network of experts in industrial projects, finance and international strategic development</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <h2 style="text-align:right">OUR PHILOSOPHY</h2>
      </div>
      <div class="span9">
        <div class="sidebar">
          <h2>Personal Service</h2>
          </br>
          <p class="lead">SCS’s philosophy prides itself on developing long term relationship with its clients, and partners, rooted in a deep understanding of their specific objectives and requirements</p>
          <h2>Tailor Made Solutions</h2>
          </br>
          <p class="lead">Each customer is different. Thus our team and our partners are dedicated at providing the best suited solutions to any business requirement raised by our clients</p>
          <h2>Secrecy and Compliance</h2>
          </br>
          <p class="lead">As our clients, our team of professionals is sharing the highest level of discretion and confidentiality that prevails in the Swiss banking industry segment.</p>
          <h2>Transparent Fee Structure</h2>
          </br>
          <p class="lead">SCS believes in agreeing a true and simple fee structure prior to the acceptation of a mandate. This fee structure will cover all our services, ensuring that there will be no hidden extra costs incurred during the mandate.</p>
        </div>
      </div>
    </div>
  </div>