<% provide(:title, "Contact") %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2 style="text-align:right">CONTACT</h2>
      </div>
      <div class="span9">
        <div class="sidebar">
        	<p class="lead">Should our services be of interest to you or one of your client, we will be glad to provide you with extensive information and documentation upon signature of a related Non Disclosure Agreement.</p>
        	<p class="lead">We will be pleased to answer any questions regarding our services or any other matters by contacting us at the following address.</p>
        	<p class="lead">Geneva office<br>
        	<%=mail_to('info@scsadvisory.ch')%>
        	</p>
          		<adress>
	          		<strong>SCS S.A.<br>
					Swiss Corporate Services </strong><br>
					Avenue Calas, 8<br>
					1206 Geneva<br>
					Switzerland<br>
					T: +4122 347 4360 <br>
				</adress>
				<br>
			<p class="lead">Milano office<br>
        	</p>
          		<adress>
	          		<strong>Milano office<br>
					c/o Club GS</strong><br>
					Via San Prospero 1<br>
					I-20121 Milano<br>
					Italy<br>
					T: +39 02 72094746 <br>
				</adress>
    	</div>
    </div>
  </div>
 </div>