<% provide(:title, "Contact") %>
  <div class="container">
    <div class="row">
      <div class="span2 offset2 side">
        <%=link_to image_tag("SCSL.png", :class => "logo"), root_path %>
        <div class="content">
          <ul class="sidemenu">
            <li class="active"><a href="#Geneva" data-toggle="tab">GENEVA OFFICE</a></li>
            <li><a href="#Milano" data-toggle="tab">MILANO OFFICE</a></li>
          </ul>
        </div>
      </div><!--span2-->
      <div class="span6 mid">
        <div class="content">
          <h1>Contact</h1>
          <p> Should our services be of interest to you or one of your client, we will be glad to provide you with extensive information and documentation upon signature of a related Non Disclosure Agreement.</p>
          <div class="tab-content">
            <div class="tab-pane active" id="Geneva">
              <p>Geneva Office:</p>
                <adress>
                <strong>SCS Advisory LLC<br>
                Swiss Corporate Services </strong><br>
                Avenue Calas, 8<br>
                1206 Geneva / Switzerland<br>
                Contact: Tolis Cléopas<br>
                Phone: +4122 347 4360<br>
                Email: tolis.cleopas@scsadvisory.com<br>
                </adress>
            </div><!--Geneva-->
            <div class= "tab-pane" id="Milano">
              <p>Milano office</p>
              <adress>
              <strong>SCS Advisory LLC - Milano office<br>
              Via Montenapoleone 3</strong><br>
              I-20121 Milano / Italy<br>
              Contact: Massimiliano Morpurgo<br>
              Phone: + 39 02 783 988<br>
              T: +39 02 72094746 <br>
              Email: massimiliano.morpurgo@scsadvisory.com<br>
              </adress>
            </div><!--Milano-->
          </div><!--Tabs-->
        </div>
      </div><!--span6/mid-->
    </div>
  </div>