
  <footer class="footer navbar-fixed-bottom">
    <div class="container">
    
      <ul class="nav">
      	<li>
        	<small class="pull-left">
         		© 2013 SCS ADVISORY
        	</small>
        </li>
        <li>
          <small class="pull-right">
            <%=mail_to('INFO@SCSADVISORY.CH')%>
          </small>
        </li>
      </ul>
  
  </div>
  </footer>
